.main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    
    .task {
        background-color: var(--darkest);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 0.5rem;

        .input[type=checkbox] {
            background-color: var(--light);
            cursor: pointer;
            
            width: 1.5rem;
            height: 1.5rem;

            margin-left: auto;
            margin-right: 5px;
        }

        .title {
            background-image: linear-gradient(to right, var(--pink), var(--purple));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.3rem;
            font-weight: 700;
            transition: 0.4s;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }

        .info {
            color: var(--purple);
            background: none;
            cursor: pointer;
            margin: 0 0.5rem;
            font-size: 1.1rem;
            font-weight: 700;
            transition: 0.4s;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }

        .delete {
            color: crimson;
            background: none;
            cursor: pointer;
            margin: 0 0.5rem;
            font-size: 1.1rem;
            font-weight: 700;
            transition: 0.4s;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }
    }

}


